{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <a href="{% url 'view_repository' scan.repository.uuid %}">Back to repository</a>
    <div class="row">
        <div class="col-md-12">
            <h2>{{ scan.uuid }}</h2>


            {% for violation in scan.scanviolation_set.all %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ violation.file }} {{ violation.start_line }}:{{ violation.end_line }}
                    </div>
                    <div class="panel-body">
                        <pre class="pre-scrollable">{{ violation.snippet }}</pre>

                        <p>{{ violation.error_group.description }}</p>
                    </div>
                </div>

            {% endfor %}

        </div>
    </div>

{% endblock %}