{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
<a href="{% url 'view_repository' scan.repository.uuid %}">Back to repository</a>
<div class="row">
    <div class="col-md-12">
        <h2>{{ scan.uuid }}</h2>

        <div class="list-group">
            {% for violation in scan.scanviolation_set.all %}

            <a href="#" class="list-group-item">
                <h4 class="list-group-item-heading">{{ violation.file }}
                    {{violation.start_line}}:{{ violation.end_line }}</h4>

                <p>{{ violation.error_group.description}}</p>
            </a>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}